.navbar { overflow: hidden; 
    position: fixed;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
     top: 0; 
      width: 100%; z-index: 1; 
    }
    .navbar :hover{
        background-color: rgba(213, 202, 203, 0.405);
        backdrop-filter: blur(7px);
    }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(6e34c16d-4365-4112-bd7d-18eb5111d44e.jpeg);
    backdrop-filter: blur(3px);
}

.slider-container {
    width: 80%;
    max-width: 800px;
    text-align: center;
}

.main-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
    background-color: red;
    box-shadow: 10px 10px 20px rgba(1, 1, 1, 0.5); border: 1px solid #00ffbb; /* Misal üçün rəng */
}

.thumbnail-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.thumbnail {
    width: 80px;
    height: 60px;
    margin: 0 10px;
    cursor: pointer;
    filter: blur(1px);
    opacity: 0.7;
    transition: filter 0.3s, opacity 0.3s;
    border-radius: 5px;
}

.thumbnail.active,
.thumbnail:hover {
    filter: none;
    opacity: 1;
   
}

.thumbnail.active {
    border: 2px solid #ff0000;
}
